# Dependencies
node_modules/
package-lock.json
yarn.lock

# Exclude built themes folder (not source themes)
/build/

# Exclude preview folder
/preview/

# OS specific files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo
